<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User information</h1>

<table th:border="1">

    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    <tr th:object="${user}">
        <td th:utext="${user.username}">...</td>
        <td th:utext="${user.email}">...</td>
        <td th:utext="${user.age}">...</td>
    </tr>
</table>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>